<div *ngIf="availableMissions">
    <div class="list-group">
        <a class="list-group-item list-group-item-action" style="cursor: pointer;"
            *ngFor="let mission of availableMissions" (click)="Activate(mission.id)">
            {{mission.name}} Duration: {{mission.duration}} Rarity:{{mission.rarity | rarity}}
        </a>
    </div>
</div>
<div *ngIf="activeMission">
    Your mission will be finished in {{timeLeft}}
</div>

<div class="progress" *ngIf="percentage !== null && percentage < 100">
    <div class="progress-bar" role="progressbar" [style.width]="percentage + '%' " aria-valuenow="25"
        aria-valuemin="0" aria-valuemax="100">{{percentage}}%</div>
</div>