<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav container">
        <div class="navbar">
            <a class="nav-item nav-link" routerLink="/" routerLinkActive="active">Tale of Dungir</a>
        </div>
        <div class="navbar">
            <div class="user-top-bar">
                <div class="dropdown show">
                    <div *ngIf="currentUser">
                        <a class="nav-item nav-link btn btn-primary dropdown-toggle"
                            style="align-content: space-between;" data-toggle="dropdown"
                            aria-haspopup="true">{{currentUser.username}}</a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="cursor: pointer;">
                            <a class="dropdown-item" routerLink="/account">Account</a>
                            <a class="dropdown-item" (click)="logout()">Logout</a>
                            <a >nic</a>
                        </div>
                    </div>
                    <div *ngIf="!currentUser">
                        <div class="btn btn-info" routerLink="/login">login</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>