<div class="d-flex m-0">
    <!-- Left Menu -->
    <div class="p-0 m-0" style="width: 150px;">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" (click)="MenuItemClick('Missions')"
                [ngClass]="{'active': IsActive('Missions')}" style="cursor: pointer;">Missions
                <div *ngIf="staticAccountService.MissionTimeLeft" class="text-center">
                    {{staticAccountService.MissionTimeLeft}}
                </div>
            </a>
            <a class="list-group-item list-group-item-action" (click)="MenuItemClick('Character')"
                [ngClass]="{'active': IsActive('Character')}" style="cursor: pointer;">Character</a>
            <a class="list-group-item list-group-item-action" (click)="MenuItemClick('Shop-Blacksmith')"
                [ngClass]="{'active': IsActive('Shop-Blacksmith')}" style="cursor: pointer;">Blacksmith</a>
        </div>
    </div>
    <!-- Content -->
    <div>
        <app-missions *ngIf="IsActive('Missions')"></app-missions>
        <app-profile *ngIf="IsActive('Character')"></app-profile>
        <app-shop-blacksmith *ngIf="IsActive('Shop-Blacksmith')"></app-shop-blacksmith>
    </div>
</div>