<div class="row">
    <!-- Left Menu -->
    <div>
        <div class="list-group">
            <a class="list-group-item list-group-item-action" (click)="MenuItemClick($event.target)"
                [ngClass]="{'active': IsActive('Missions')}" style="cursor: pointer;">Missions</a>
            <a class="list-group-item list-group-item-action" (click)="MenuItemClick($event.target)"
                [ngClass]="{'active': IsActive('Character')}" style="cursor: pointer;">Character</a>
        </div>
    </div>
    <!-- Content -->
    <div class="col">
        <app-missions *ngIf="IsActive('Missions')"></app-missions>
        <app-profile *ngIf="IsActive('Character')"></app-profile>
    </div>
</div>