<form [formGroup]="createForm" (ngSubmit)="onSubmit(createForm.value)">
    <div class="form-group row mr-0">
        <label class="col-sm-3 col-form-label">Image Type</label>
        <select formControlName="category" name="category" id="category" class="col-sm form-control" (change)="categoryChanged($event.target.value)">
            <option>item</option>
            <option>avatar</option>
        </select>
    </div>
    <!-- <div class="form-group row mr-0" *ngIf="form.category === 'item'">
        <label class="col-sm-3 col-form-label">Item Type</label>
        <select formControlName="itemType" name="itemType" id="itemType" class="col-sm form-control">
            <option *ngFor="let item of itemTypes">{{item}}</option>
        </select>
    </div> -->
    <div class="form-group row mr-0">
        <label class="col-sm-3 col-form-label">{{selectedCategory}} Type</label>
        <select formControlName="type" name="type" id="type" class="col-sm form-control">
            <!-- <option>Player</option>
            <option>Monster</option> -->
            <option *ngFor="let type of types">{{type}}</option>
        </select>
    </div>
    <!-- <div class="form-group row">
        <label class="col-sm-3 col-form-label">Item Name</label>
        <div class="col-sm-9">
            <input formControlName="itemName" name="itemName" id="itemName" type="text" class="form-control"
                placeholder="Item Name">
        </div>
    </div> -->
    <div class="form-group row border rounded py-3 mx-0">
        <label class="col-sm-3 col-form-label">Image</label>
        <div class="input-group col-sm-9">
            <div class="custom-file">
                <input formControlName="images" name="images" id="images" (change)="inputChanged($event.target.files)" type="file" class="custom-file-input" id="inputGroupFile01" multiple>
                <label class="custom-file-label" for="inputGroupFile01">Choose files</label>
            </div>
        </div>
        <div class="container d-flex flex-wrap">
            <div *ngFor="let url of fileListUrls" class="">
                <img [src]="url" width="100px" height="100px">
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-success w-50">Upload</button>
    </div>
</form>