<div class="row">
    <div class="col border">
        <!-- create new -->
        <div class="col">
            <div class="row flex align-items-center justify-content-between">
                <h3>Players</h3>
                <h6 *ngIf="registeredPlayers">{{registeredPlayers}} registered users</h6>
            </div>
        </div>
        <form>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Name:</label>
                <input class="col-sm-8 form-control" type="text">
            </div>
        </form>
        <hr>
        <div class="list-group">
            <a *ngFor="let player of foundPlayers"
                class="list-group-item list-group-item-action d-flex justify-content-between align-content-center">
                <div>{{player.userName}}</div>
                <span class="badge badge-success">Good</span>
            </a>
        </div>
        <hr>
    </div>