<div class="row m-3">
    <!-- Menu -->
    <div class="col-3" style="min-width: 200px;">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" (click)="MenuItemClick($event.target)"
                [ngClass]="{'active': IsActive('itemnames')}" style="cursor: pointer;">Item names</a>
            <a class="list-group-item list-group-item-action" (click)="MenuItemClick($event.target)"
                [ngClass]="{'active': IsActive('items')}" style="cursor: pointer;">Items</a>
        </div>
    </div>

    <!-- content -->
    <div class="col">
        <app-ap-item-names *ngIf="IsActive('itemnames')"></app-ap-item-names>
        <app-ap-items *ngIf="IsActive('items')"></app-ap-items>
    </div>
</div>