<div *ngIf="character" class="container-fluid">
    <div class="row">
        <div class="d-flex">
            <!-- portrait -->
            <div style="width: 360px;">
                <div class="d-flex" style="width: 360px;">
                    <div class="d-flex flex-wrap" style="background-color: aliceblue;">
                        <app-item-widget [placeholder]="'head'" [item]="character.equipment?.head"
                            (click)="itemClick($event.target, character.equipment?.head,'unequip')"></app-item-widget>
                        <app-item-widget [placeholder]="'chest'" [item]="character.equipment?.body"
                            (click)="itemClick($event.target, character.equipment?.body,'unequip')"></app-item-widget>
                        <app-item-widget [placeholder]="'legs'" [item]="character.equipment?.legs"
                            (click)="itemClick($event.target, character.equipment?.legs,'unequip')"></app-item-widget>
                    </div>
                    <img [src]="ImgLink(character.entity.avatarID)" width="216px" height="216px">
                    <div class="d-flex flex-wrap" style="background-color: aliceblue;">
                        <app-item-widget [placeholder]="'neck'" [item]="character.equipment?.neck"
                            (click)="itemClick($event.target, character.equipment?.neck, 'unequip')"></app-item-widget>
                        <app-item-widget [placeholder]="'finger'" [item]="character.equipment?.finger"
                            (click)="itemClick($event.target, character.equipment?.finger,'unequip')"></app-item-widget>
                        <app-item-widget [placeholder]="'weapon'" [item]="character.equipment?.weapon"
                            (click)="itemClick($event.target, character.equipment?.weapon,'unequip')"></app-item-widget>
                    </div>
                </div>
                <div class="progress" style="position: relative;">
                    <div class="progress-bar bg-success" role="progressbar"
                        [style.width]="(character.exp/character.reqExp)*100 + '%'" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100">
                    </div>
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
                        {{(character.exp/character.reqExp) | percent}}
                    </div>
                </div>
                <div class="progress" style="position: relative;">
                    <div class="progress-bar bg-danger" role="progressbar"
                        [style.width]="(character.entity.health/character.entity.maxHealth)*100 + '%'"
                        aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    </div>
                    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);">
                        {{(character.entity.health/character.entity.maxHealth) | percent}}
                    </div>
                </div>
            </div>
            <div style="width: 50px;"></div>
            <!-- backpack -->
            <div style="width: 580px;">
                <div class="d-flex flex-wrap" style="background-color: aliceblue;">
                    <div *ngFor="let item of character.inventory; index as i;"
                        (click)="itemClick($event.target, item, 'equip')">
                        <app-item-widget [placeholder]="none" [item]="item"></app-item-widget>
                    </div>
                </div>
            </div>
            <div style="width: 400px; height: 100px;"></div>
        </div>
    </div>
    <div>
        <p>level:{{character.level}}</p>
        <p>exp:{{character.exp}}/{{character.reqExp}}</p>
        <p>gold:{{character.gold}}</p>
        <p>health:{{character.entity.health}}/{{character.entity.maxHealth}}</p>
    </div>
</div>
<app-item-description-box [item]="SelectedItem" [context]="context"></app-item-description-box>